.container {
    display: flex;
    flex-direction: column;
    font-family: "Gilroy Medium", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #475467;
    height: 100vh;
}

.div1 {
    height: 7%;
    border: 1px solid #EAECF0;
    text-align: center;
    align-items: center;
    font-family: "Gilroy Medium", sans-serif;
    position: relative;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 95%;
    margin-top: 12px;
    font-size: 12px;
    font-weight: 500;
}

.custom-dropdown select {
    width: 95%;
    padding: 10px;
    border: 1px solid #D0D5DD;
    border-radius: 5px;
    background-color: #ffffff;
    color: #475467;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.custom-dropdown select option {
    padding: 10px;
    background-color: #ffffff;
    height: 15px;
}

.custom-dropdown select:focus {
    outline: none;
    border-color: #3498db;
}

.div2 {
    height: 6%;
    border: 1px solid #EAECF0;
    display: flex;
    position: relative;
}

.measures-text {
    display: flex;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    margin-left: 15px;
}


.div3 {
    height: 15%;
    border: 1px solid #EAECF0;
    position: relative;
    overflow-y: auto;
}

.measures-options {
    margin-left: 15px;
    margin-top: 15px;
}

.options {
    margin-left: 15px;
}

.attributes-text {
    display: flex;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}


.div4 {
    height: 63%;
    border: 1px solid #EAECF0;
    overflow-y: auto;
}

.attributes-options {
    margin-left: 15px;
    margin-top: 15px;
}

.div5 {
    height: 9%;
    border: 1px solid #EAECF0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div5 button {
    border: none;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.responsive-img {
    width: 100%;
    height: auto;
}

.overlay-container img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
    white-space: nowrap;
}

.div5 button img {
    display: block;
}

