.container {
    display: flex;
    flex-direction: column;
    font-family: "Gilroy Medium", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: left;

    color: #475467;
}

.div1 {
    height: 60px;
    border: 1px solid #EAECF0;
    text-align: center;
    font-family: "Gilroy Medium", sans-serif;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 95%;
    margin-top: 12px;
    font-size: 12px;
    font-weight: 500;
}

.custom-dropdown select {
    width: 95%;
    padding: 10px;
    border: 1px solid #D0D5DD;
    border-radius: 5px;
    background-color: #ffffff;
    color: #475467;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    background-image: url('../../../public/assets/down-arrow.png');
    background-repeat: no-repeat;
    background-position: right 5px top 50%;
    background-size: 20px;
}

.custom-dropdown select option {
    padding: 10px;
    background-color: #ffffff;
    height: 15px;
}

.custom-dropdown select:focus {
    outline: none;
    border-color: #3498db;
}

.div2 {
    height: 50px;
    border: 1px solid #EAECF0;
    display: flex;
    background-image: url('../../../public/assets/down-arrow.png');
    background-repeat: no-repeat;
    background-position: left 5px top 70%;
    background-size: 20px;
}

.div2 p {
    margin-left: 35px;
    margin-top: 23px;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.div3 {
    height: 130px;
    border: 1px solid #EAECF0;
    background-image: url('../../../public/assets/down-arrow.png');
    background-repeat: no-repeat;
    background-position: left 5px top 90%;
    background-size: 20px;
}

.measures-options {
    margin-left: 15px;
    margin-top: 15px;

}

.div3 p {
    margin-left: 35px;
    margin-top: 11px;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.div4 {
    height: 550px;
    border: 1px solid #EAECF0;
}

.attributes-options {
    margin-left: 15px;
    margin-top: 15px;
}

.div5 {
    height: 80px;
    border: 1px solid #EAECF0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div5 button {
    border: none;
    background-color: white;
    padding: 0;
    cursor: pointer;
    position: relative;
}

.overlay-container img {
    display: block;
}

.overlay-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
    white-space: nowrap;
}

.div5 button img {
    display: block;
}

