.container {
    display: flex;
    flex-direction: column;
    font-family: "Gilroy Medium", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #475467;
    height: 100%;
}

.div1 {
    display: flex;
    height: 7%;
    border: 1px solid #EAECF0;
    text-align: center;
    font-family: "Gilroy Medium", sans-serif;
    position: relative;
    justify-content: center;
    align-items: center;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 95%;
    font-size: 12px;
    font-weight: 500;
}

.custom-dropdown select {
    width: 95%;
    padding: 10px;
    border: 1px solid #D0D5DD;
    border-radius: 5px;
    background-color: #ffffff;
    color: #475467;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    padding-right: 30px;
}

.dropdown-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 25px;
    height: 25px;
}

.custom-dropdown select option {
    padding: 10px;
    background-color: #ffffff;
    height: 15px;
}

.custom-dropdown select:focus {
    outline: none;
    border-color: #3498db;
}

.div2 {
    height: 6%;
    border: 1px solid #EAECF0;
    display: flex;
    position: relative;
}

.measures-text {
    display: flex;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    margin-left: 15px;
}


.div3 {
    height: 18%;
    border: 1px solid #EAECF0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.measures-options {
    margin-left: 15px;
        margin-top: 15px;
    
}

.options {
    margin-left: 15px;
}

.attributes-text {
    position: relative;
    display: flex;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    gap: 10px;
    margin-left: 15px;
}


.div4 {
    height: 61%;
    border: 1px solid #EAECF0;
}

.attributes-options {
    margin-left: 15px;
    margin-top: 15px;
}

.div5 {
    height: 8%;
    border: 1px solid #EAECF0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div5 button {
    border: none;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.div5 button img {
    height: 100%;
    width: auto;
    max-width: 100%;
}