<div class="container1">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <div class="container2">
    <div class="main-header">
      <div class="header">
        <h1>Monthly sales report</h1>
      </div>
    </div>
    <div class="main-content">
      <div class="container3">
        <div class="col1">
          <app-filter></app-filter>
        </div>
        <div class="col2">
          <app-chart></app-chart>
        </div>
        <div class="col3">
          <app-settings></app-settings>
        </div>
        <div class="col4">
          <app-file-options></app-file-options>
        </div>
      </div>
    </div>
  </div>
  
</div>