<div class="sidebar">
    <div class="top-buttons">
        <button class="logo-button" onclick="alert('Button Clicked')">
            <img src="./assets/logo2.png">
        </button>
        <button onclick="alert('Button Clicked')">
            <img src="./assets/sidebar-1.png">
        </button>
        <button onclick="alert('Button Clicked')">
            <img src="./assets/sidebar-2.png">
        </button>
        <button onclick="alert('Button Clicked')">
            <img src="./assets/sidebar-3.png">
        </button>
        <button onclick="alert('Button Clicked')">
            <img src="./assets/sidebar-4.png">
        </button>
        <button onclick="alert('Button Clicked')">
            <img src="./assets/sidebar-5.png">
        </button>
        <button onclick="alert('Button Clicked')">
            <img src="./assets/reports.png">
        </button>
        <button onclick="alert('Button Clicked')">
            <img src="./assets/sidebar-6.png">
        </button>
    </div>
    

    <div class="bottom-buttons">
        <button onclick="alert('Button Clicked')">
            <img src="./assets/sidebar-settings.png">
        </button>
        <button onclick="alert('Button Clicked')">
            <img src="./assets/profile-picture.png">
        </button>
    </div>
</div>