<div class="sidebar">
    <button onclick="alert('Report Closed')">
        <img src="./assets/right1.png">
    </button>
    <button onclick="alert('Report Closed')">
        <img src="./assets/right2.png">
    </button>
    <button onclick="alert('Report Closed')">
        <img src="./assets/right3.png">
    </button>
    <button onclick="alert('Report Closed')">
        <img src="./assets/right4.png">
    </button>
    <button onclick="alert('Report Closed')">
        <img src="./assets/right5.png">
    </button>
</div>